/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css?family=Numans');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.table{
  margin-top: 100px;
}

#find_ride_button{
  float: right;
  margin-right: 5%;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
  max-width: 100%;
  height: auto;
  border-radius: 5px 5px 5px 5px;
}

nav a:hover{
  color: lightgrey;
  text-decoration: none;
}


html { line-height: 1.5; font-family: sans-serif; font-weight: normal; color: rgba(0,0,0,0.87); }
body { margin:0; }

nav { height:100%; line-height:50px;background:#00acc1;background-size:cover; position:fixed; top:0%; width: 12%;}
nav ul {margin-top: 20px; margin-left: 11%; height: 50%}
nav ul li { margin-top: 50px; display:block; float:left; width:150px; text-align:left; font-size: 20px;  height: 20%} /*ADD NEW NAVIGATION */
nav ul li a { color:white;}


main#spapp > section { padding:40px 50px 50px 50px;); }
main#spapp > section#driver {background-color: ; margin-left: 14%;}  /* padding = move text ... margin = move everything */
main#spapp > section#vehicle {background-color: ; margin-left: 14%;}
main#spapp > section#profile {background-color: ; margin-left: 14%;}
main#spapp > section#ride {background-color: ; margin-left: 14%;}
main#spapp > section#error_404 { background:#b71c1c; color:#fff; }
main#spapp h1 { font-size: 2rem; line-height: 110%; margin: 2.1rem 0 1.68rem 0; text-align:center; }

/*responsive*/
@media only screen and (max-width: 800px) {
  nav { height:70px; line-height:50px; background:#00acc1;background-size:cover; position:fixed; top:0; width: 100%; z-index: 100;}
  nav ul li { margin-left: -20px; display:block; float:left; width:85px; text-align:center; font-size: 5px; margin-top: 0px;} /*ADD NEW NAVIGATION */
  nav ul li a { color:white;}

  main#spapp > section#profile {
    margin-left: -165px;
  }
  main#spapp > section#driver {
    margin-left: -10px;
  }
  main#spapp > section#ride {
    margin-left: -150px;
  }
  main#spapp > section#vehicle {
    margin-left: -10px;
  }

  section h1 {
    font-size: 19px;
  }

  table {
    font-size: 10px;
  }

  nav span {
    display: none;
  }

  .container {
    font-size: 10px;
  }

  #chart {
    width: 10px;
  }

}
