/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/




@import url('https://fonts.googleapis.com/css?family=Numans');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
}

#find_ride_button{
  float: right;
  margin-right: 5%;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
  max-width: 100%;
  height: auto;
  border-radius: 5px 5px 5px 5px;
}

.startPage{
  height: 590px;
}

.info{
  margin-left: 140px;
  margin-right: 140px;
}

.smartphone img {
  width: 280px;
}

footer{
  margin-left: -50px;
  margin-right: -50px;
  height: 120px;
  background: url("http://codex-themes.com/scalia/wp-content/uploads/2014/12/footer-background-011.jpg")
}

.download_app{
  margin-top: 190px;
  margin-left: -50px;
  margin-right: -50px;
  height: 550px;
  background: url("https://images.pexels.com/photos/32246/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: cover;
}

.smartphone{
  float: right;
  margin-right: 100px;
}

.logo{
  text-align: center;
}

.playstore_image{
  text-align: center;
  width: 30%;
  margin-left: 300px;
}

nav a:hover{
  color: yellow;
  text-decoration: none;
  font-size: 22px;
}

.checked {
  color: orange;
}

th {
  text-align: center;
}
td{
  text-align: center;
}
.container{
  height: 100%;
  align-content: center;
  float: left;
}

.card{
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 500px;
  background-color: rgba(0,0,0,0.5) !important;
  float: left;
}

.reg{
  margin-top: 110px;
}

.card-header h3{
  color: white;
}


.input-group-prepend span{
  width: 50px;
  background-color: #FFC312;
  color: black;
  border:0 !important;
}

input:focus{
x-shadow: 0 0 0 0 !important;

}

.remember{
  color: white;
}

.remember input{
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.login_btn{
  color: black;
  background-color: #FFC312;
  width: 100px;
}

.login_btn:hover{
  color: black;
  background-color: white;
}

.links{
  color: white;
}

.links a{
  margin-left: 4px;
}

.centered-form{
	margin-top: 60px;
}

.centered-form .panel{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

label.error {
   float: none; color: yellow;
   display: block;
}​

.playstore_image img {
  width: 200px;
}

.service-head {
  font-size: 75px;
  margin-top: 40px;
  text-align: center;
}

.playstore_description h1 {
  font-size: 85px;
  text-align: center;
}

.playstore_description h2 {
  font-size: 45px;
  text-align: center;
}

.info {
  text-align: center;
}

#curr {
  margin-top: 20px;
  font-size: 82px;
  font-weight: 400;
}

.drivers_using {
  float: left;
}

.rides_done {
  float: right;
}

.drivers_using p {
  font-size: 75px;
  font-weight: 800;
  font-family: monospace;
}

.drivers_using h2 {
  margin-top: -30px
}

.rides_done h2 {
  margin-top: -30px
}

.rides_done p {
  font-size: 75px;
  font-weight: 800;
  font-family: monospace;
}

html { line-height: 1.5; font-family: sans-serif; font-weight: normal; color: rgba(0,0,0,0.87); }
body { margin:0; }

nav { height:60px; line-height:50px; background-color: rgba(0,0,0,0.4);background-size:cover; position:fixed; top:0; width: 100%; z-index: 100;}
nav ul li { display:block; float:left; width:150px; text-align:center; font-size: 20px; margin-top: 7px;} /*ADD NEW NAVIGATION */
nav ul li a { color:white;}

main#spapp > section { padding:40px 50px 50px 50px;); }
main#spapp > section#welcome { background: url("https://stmed.net/sites/default/files/taxi-wallpapers-32597-6593302.jpg") 0px; no-repeat;
                            background-size:cover;}
main#spapp > section#companies {background:url("https://c8.alamy.com/comp/B20074/nyc-yellow-taxi-cab-parked-on-the-street-of-queens-nyc-usa-B20074.jpg")}
main#spapp > section#service {background:)}
main#spapp > section#register{background: url("https://backgroundcheckall.com/wp-content/uploads/2017/12/about-us-background-images-for-website-2.jpg");background-size:cover;}
main#spapp > section#error_404 { background:#b71c1c; color:#fff; }

/*responsive*/
 @media only screen and (max-width: 800px) {
  a:active {
    font-size: 1px;
  }
  nav {
  	width: 100%;
  }

  nav ul {
    width: 430px;
  }

  nav ul li {
    font-size: 12px;
    width: 22%;
  }
  nav a:hover{
    color: yellow;
    text-decoration: none;
    font-size: 14px;
  }

  .remember input {
    margin-left: 25px;
    margin-right: 5px
  }
  .card {
    width: 30%;
    margin-left: 70px;
  }
  .card-header{
    margin-left: 50px;
    width: 300px;
  }
  .card-body{
    margin-left: 70px;
    width: 300px;
  }
  .card-footer{
    margin-left: 50px;
    width: 300px;
  }
  .info {
    margin-left: 0px;
    width: 70%;
  }
  .info h1 {
    font-size: 12px;
  }

  .drivers_using {
    width: 300px;
  }

  .drivers_using h2{
    font-size: 1px;
    float: left;
  }
  .drivers_using p{
    font-size:1px;
    float: left;
  }

  .rides_done p {
    font-size: 1px;
    float: right;
  }

  .rides_done h2 {
    font-size: 1px;
    float: right;
  }

  .smartphone {
    margin-right: 160px;
    width: 100%;
  }

  .smartphone img {
    width: 100px;
    margin-left: 290px;
    float: left;
  }

  .service-head {
    font-size: 45px;
    margin-top: 40px;
  }

  #curr {
    font-size: 25px;
    font-weight: 300;
    margin-top: 100px;
    margin-left: -20px;
    width: 300px;
  }

  .drivers_using p {
    font-size: 45px;
    font-weight: 800;
    font-family: monospace;
  }

  .drivers_using h2 {
    margin-top: -30px;
    font-size: 20px;
    width: 180px;
    margin-top: 10px;
    float: right;
  }

  .rides_done h2 {
    margin-top: -30px;
    font-size: 20px;
    width: 180px;
    margin-right: -100px;
    margin-left: 120px;
    margin-top: 10px;
  }

  .rides_done p {
    font-size: 45px;
    font-weight: 800;
    margin-right: -240px;
    font-family: monospace;
    float: left;
  }

  .playstore_description h1 {
    font-size: 35px;
    text-align: center;
  }

  .playstore_description h2 {
    font-size: 15px;
    text-align: center;
  }

  .playstore_image {
    width: 10px;
  }

  .playstore_image img{
    margin-left: -330px;
    width: 150px;
  }

  .download_app {
    height: 350px;
  }

  footer {
    height: 30px;
  }

  table {
    font-size: 10px;
  }

  .card-img-top {
    width: 300px;
    height: 100px;
  }

  .card-deck .card {
    width: 300px;
    margin-left: -17px;
  }

  .card-deck .card-body {
    margin-left: 0px;
  }

  main#spapp > section#companies {
    height: 1280px;
    background:url("https://c8.alamy.com/comp/B20074/nyc-yellow-taxi-cab-parked-on-the-street-of-queens-nyc-usa-B20074.jpg");
    background-repeat: repeat;
  }

}
