<br><br><br><br>
<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="assets/img/sarajevo.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="color: white" >Sarajevo Taxi</h5>
      <p class="card-text" style="color: white">Udruženje taxi vozača u Sarajevu osnovano je 1946. godine. U periodu od osnivanja do danas izvršeno je nekoliko</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/img/sarajevo.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="color: white">Sarajevo Taxi</h5>
      <p class="card-text" style="color: white" >Udruženje taxi vozača u Sarajevu osnovano je 1946. godine. U periodu od osnivanja do danas izvršeno je nekoliko</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/img/sarajevo.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="color: white" >Sarajevo Taxi</h5>
      <p class="card-text" style="color: white" >Udruženje taxi vozača u Sarajevu osnovano je 1946. godine. U periodu od osnivanja do danas izvršeno je nekoliko</p>
    </div>
  </div>
</div>
