<h1>Company Drivers</h1>
<button style="float:left;" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#addDriver">Add Driver</button>
<!-- Modal -->
<div id="addDriver" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <i class='far fa-address-card' style='font-size:36px'></i>
        <h4 class="modal-title" style="padding-left:10px;">Add Driver</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form id="driver_form" method="POST" action="rest/add_driver">
          <div class="modal-body">
            <div class="form-group">
              <label>First name</label>
              <input name="fname" id="fname" type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>Last name</label>
              <input name="lname" id="lname" type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>Vehicle ID</label>
              <input name="vehicle" id="vehicle" type="text" class="form-control">
            </div>
            <p id="error"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add Driver</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- update driver modal -->
<div id="updateDriver" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <i class='far fa-address-card' style='font-size:36px'></i>
        <h4 class="modal-title" style="padding-left:10px;">Update Driver</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form id="update_driver_form" method="POST" action="">
          <div class="modal-body">
            <div class="form-group">
              <label>Driver ID</label>
              <input name="id" id="id" type="text" class="form-control" readonly>
            </div>
            <div class="form-group">
              <label>First name</label>
              <input name="fname" id="fname" type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>Last name</label>
              <input name="lname" id="lname" type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>Vehicle</label>
              <input name="vehicle" id="vehicle" type="text" class="form-control">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" onclick="update_driver()">Update Driver</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<table class="table table table-hover " >
  <thead>
    <tr>
      <th scope="col">Driver ID</th>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Vehicle</th>
      <th scope="col">Rating</th>
    </tr>
  </thead>
  <tbody id="drivers_body">

  </tbody>
</table>

<script type="text/javascript">
  get_drivers();
  $("#driver_form").validate({
    submitHandler: function(form) {
      $.ajax({
        type: "POST",
        url: "rest/add_driver",
        data: $("#driver_form").serialize(),
        beforeSend: function(xhr) {
          xhr.setRequestHeader("Authorization",
          window.localStorage.getItem("token")); //get token from localStorage andsend it in the header of the request
        },
        success: function(data) {
          if(data == 1)
            location.reload();
          else {
            $("#error").text("There is no vehicle with that ID");
          }
        }
      })
    }
  });

  function stars(rating) {
    if(rating < 20)
      return '<td><span class="fa fa-star "></span><span class="far fa-star"></span><span class="far fa-star"></span><span class="far fa-star"></span><span class="far fa-star"></span></td>'
    else if(rating > 19 && rating < 40)
      return '<td><span class="fa fa-star "></span><span class="fa fa-star "></span><span class="far fa-star"></span><span class="far fa-star"></span><span class="far fa-star"></span></td>'
    else if(rating > 39 && rating < 60)
      return '<td><span class="fa fa-star "></span><span class="fa fa-star "></span><span class="fa fa-star "></span><span class="far fa-star "></span><span class="far fa-star"></span></td>'
    else if(rating > 59 && rating < 80)
    return '<td><span class="fa fa-star "></span><span class="fa fa-star "></span><span class="fa fa-star "></span><span class="fa fa-star "></span><span class="far fa-star"></span></td>'
    else if(rating > 79 && rating <= 100)
      return '<td><span class="fa fa-star "></span><span class="fa fa-star "></span><span class="fa fa-star "></span><span class="fa fa-star "></span><span class="fa fa-star "></span></td>'
  }

  function get_drivers(){
    $.ajax({
      type: "GET",
      url: "rest/drivers",
      dataType: "json",
      beforeSend: function(xhr) {
        xhr.setRequestHeader("Authorization",
        window.localStorage.getItem("token"));
      },
      success: function(data) {
        if (data.redirect) {
           window.location.href = data.redirect;
       }
        var html = '';
        for(var i = 0 ; i < data.length; i++){
          html += '<tr id="driver_'+data[i].driverID+'"><td>'+data[i].driverID+'</td>';
          html += '  <td>'+data[i].firstName+'</td>';
          html += '  <td>'+data[i].lastName+'</td>';
          html += '  <td>'+data[i].manufacturer+'</td>';
          html += stars(data[i].rating);
          html += '  <td><button onclick="get_driver('+data[i].driverID+')" class="btn btn-warning" data-toggle="modal" data-target="#updateDriver">Edit</button></td>';
          html += '  <td><button onclick="delete_driver('+data[i].driverID+')" class="btn btn-danger">Delete</button></td></tr>';
        }
        $('#drivers_body').html(html);
      },
      error: function(jqXHR, statusText, errorThrown) {
        window.location.href = "index.html";
      }
    });
  }

  function get_driver(id) {
    $.ajax({
      type: "GET",
      dataType: "json",
      url: "rest/driver/" + id,
      success: function(data) {
        $("#updateDriver #id").val(data.driverID);
        $("#updateDriver #fname").val(data.firstName);
        $("#updateDriver #lname").val(data.lastName);
        $("#updateDriver #vehicle").val(data.vehicle);
      }
    })
  }

  function delete_driver(id){
    if (confirm("Delete driver with id " + id + "?")){
      $.ajax({
        url: "rest/driver/"+id,
        method: "DELETE"
      }).done(function( msg ) {
        $('#driver_'+id).remove();
        $('.table').DataTable().draw();
        get_drivers();
      }).fail(function( jqXHR, textStatus ) {
        alert( "Request failed: " + textStatus );
      });
    }
  }

  function update_driver() {
    var id = $("#updateDriver #id").val();
    $("#update_driver_form").validate({
      submitHandler: function(form) {
        $.ajax({
          url: "rest/driver/"+id,
          type: "POST",
          data: $("#update_driver_form").serialize(),
          success: function(data) {
            get_drivers();
            location.reload();
          }
        })
      }
    });
  }
</script>
