<div class="container" style="margin-right: -100px;">
    <h1 style="font-size:45px;"id="company-title"></h1>
  	<hr>
	<div class="row">
      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        <div class="alert alert-info alert-dismissable">
          <a class="panel-close close" data-dismiss="alert">×</a>
          <i class="fa fa-coffee"></i>
          Make sure to click <strong>Save Changes</strong> after you finish
        </div>
        <h3>Personal info</h3>

        <form id="update-company-form" class="form-horizontal" action="" method="POST">
          <div class="form-group">
            <label class="col-lg-3 control-label">Company ID:</label>
            <div class="col-lg-8">
              <input id="companyID" class="form-control" type="text" readonly>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Company Name:</label>
            <div class="col-lg-8">
              <input id="companyName" name="companyName" class="form-control" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Company E-mail:</label>
            <div class="col-lg-8">
              <input id="companyEmail" name="companyEmail" class="form-control" type="email">
            </div>
          </div>
          <br>
          <h3>Change Password</h3>
          <div class="form-group">
            <label class="col-md-3 control-label">New Password:</label>
            <div class="col-md-8">
              <input id="companyPassword" name="companyPassword" class="form-control" type="password">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Confirm password:</label>
            <div class="col-md-8">
              <input id="companyRPassword" name="companyRPassword" class="form-control" type="password">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <button onclick="update_company()" type="submit" class="btn btn-primary"> Save Changes</button>
            </div>
          </div>
        </form>
      </div>
  </div>
</div>
<hr>

<script type="text/javascript">
  getCompanyInfo();
  function update_company() {
    var id = $("#companyID").val();
    $("#update-company-form").validate({
      rules: {
        companyPassword: {
          minlength: 6
        },
        companyRPassword: {
          equalTo: "#companyPassword"
        },
      },
      submitHandler: function(form) {
        $.ajax({
          url: "rest/companies/"+id,
          type: "POST",
          data: $("#update-company-form").serialize(),
          success: function(data) {
            getCompanyInfo();
            location.reload();
          }
        })
      }
    });
  }
  function getCompanyInfo() {
    $.ajax({
      type: "GET",
      dataType: "json",
      url: "rest/company",
      beforeSend: function(xhr) {
        xhr.setRequestHeader("Authorization",
        window.localStorage.getItem("token"));
      },
      success: function(data) {
        $("#companyID").val(data.companyID);
        $("#companyName").val(data.companyName);
        $("#companyEmail").val(data.companyEmail);
        $("#company-title").text(data.companyName);
      }
    })
  }

</script>
