<div class="reg">
  <div class="container">
    <div class="d-flex justify-content-center h-100">
      <div class="card" style="width:420px;">
        <div class="card-header">
          <h3 style="text-align:center;">Sign Up</h3>
        </div>
        <div class="card-body">
          <form id="register_form" action="rest/register" method="POST">
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>
              <input type="text" name="companyName" class="form-control" placeholder="Company name" required>
            </div>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
              </div>
              <input type="email" name="companyEmail" class="form-control" placeholder="Email" required>
            </div>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <input type="password" id="companyPassword" name="companyPassword" class="form-control" placeholder="Password" required>
            </div>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <input type="password" id="companyRPassword" name="companyRPassword" class="form-control" placeholder="Repeat Password" required>
            </div>
            <div class="form-group">
              <input type="submit" value="Sign Up" class="btn login_btn">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $("#register_form").validate({
    rules: {
      companyPassword: {
        minlength: 6
      },
      companyRPassword: {
        equalTo: "#companyPassword"
      },
    },
    messages: {
      companyName: {
        required: "Name required"
      },
      companyEmail: {
        required: "Email required"
      },
      companyPassword: {
        required: "Password required",
      },
      companyRPassword: {
        required: "Re-enter password",
      }
    },
    submitHandler: function(form) {
        form.submit();
    }
  });
</script>
