<h1 class="service-head">Best rated drivers</h1>

<table class="table" class="best-drivers-table">
  <thead>
    <tr>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Vehicle</th>
      <th scope="col">Company</th>
      <th scope="col">Rating</th>
    </tr>
  </thead>
  <tbody id="drivers_body">

  </tbody>
</table>

<script type="text/javascript">
  function stars(rating) {
    if(rating < 20)
      return '<td><span class="fa fa-star "></span><span class="far fa-star"></span><span class="far fa-star"></span><span class="far fa-star"></span><span class="far fa-star"></span></td>'
    else if(rating > 19 && rating < 40)
      return '<td><span class="fa fa-star "></span><span class="fa fa-star "></span><span class="far fa-star"></span><span class="far fa-star"></span><span class="far fa-star"></span></td>'
    else if(rating > 39 && rating < 60)
      return '<td><span class="fa fa-star "></span><span class="fa fa-star "></span><span class="fa fa-star "></span><span class="far fa-star "></span><span class="far fa-star"></span></td>'
    else if(rating > 59 && rating < 80)
    return '<td><span class="fa fa-star "></span><span class="fa fa-star "></span><span class="fa fa-star "></span><span class="fa fa-star "></span><span class="far fa-star"></span></td>'
    else if(rating > 79 && rating <= 100)
      return '<td><span class="fa fa-star "></span><span class="fa fa-star "></span><span class="fa fa-star "></span><span class="fa fa-star "></span><span class="fa fa-star "></span></td>'
  }

  $.ajax({
    type: "GET",
    url: "rest/all_drivers",
    dataType: "json",
    success: function(data) {
      var html = '';
      for(var i = 0 ; i < data.length; i++){
        html += ' <tr> <td id="first-name">'+data[i].firstName+'</td>';
        html += '  <td>'+data[i].lastName+'</td>';
        html += '  <td>'+data[i].manufacturer+'</td>';
        html += '  <td>'+data[i].companyName+'</td>';
        html += stars(data[i].rating);
      }
      $('#drivers_body').html(html);
    }
  })

</script>
