<div class="startPage">
  <div class="container">
  	<div class="d-flex justify-content-center h-100">
  		<div class="card" style="width:400px;">
  			<div class="card-header">
  				<h3 style="text-align:center;">Sign In</h3>
  			</div>
  			<div class="card-body">
  				<form id="login_form" action="#" method="POST">
  					<div class="input-group form-group">
  						<div class="input-group-prepend">
  							<span class="input-group-text"><i class="fas fa-user"></i></span>
  						</div>
  						<input type="email" name="companyEmail" class="form-control" placeholder="email" required>
  					</div>
  					<div class="input-group form-group">
  						<div class="input-group-prepend">
  							<span class="input-group-text"><i class="fas fa-key"></i></span>
  						</div>
  						<input type="password" name="companyPassword" class="form-control" placeholder="password" required>
  					</div>
            <div id="error" style="color:yellow">

            </div>
  					<div class="row align-items-center remember">
  						<input type="checkbox">Remember Me
  					</div>
  					<div class="form-group">
  						<input type="submit" value="Login" class="btn float-right login_btn">
  					</div>
  				</form>
  			</div>
  			<div class="card-footer">
  				<div class="d-flex justify-content-center links">
  					Don't have an account?
            <a href="#register">Sign Up</a>
  				</div>
  			</div>
  		</div>
  	</div>
  </div>
</div>
<div class="info">
  <h1 id="curr">Currently in Sarajevo</h1>
  <div class="drivers_using">
    <p>422</p>
    <h2 class="with_app"">TAXI drivers with this app</h2>
  </div>
  <div class="rides_done">
    <p>4213</p>
    <h2>Number of rides today</h2>
  </div>
</div>
<div class="download_app">
  <div class="smartphone">
    <img src="assets/img/smartphone.png">
  </div>
  <div class="playstore">
    <div class="playstore_description">
      <br> <br> <br>
      <h1>Finding TAXI has never been easier</h1>
      <h2>Download an app on your smartphone</h2>
    </div>
    <div class="playstore_image">
      <a href="https://play.google.com" target="_blank"><img src="assets/img/gplay.png" alt="google play"></a>
    </div>
</div>
</div>

<footer>

</footer>

<script type="text/javascript">
  $("#login_form").validate({
    submitHandler: function(form) {
        $.ajax({
          url: "rest/login",
          method: "POST",
          data: $("#login_form").serialize(), //send data submitted by form
          success: function(data) {
            if(data.token != null) {
              var token = data.token.replace(/['"]+/g, ''); //remove “” from the token
              window.localStorage.setItem('token', token);
              window.location.href = "company.html";
            } else {
              $("#error").text("Wrong username or password");
            }
          },
          error: function(response) {
          }
        });
    }
  });
</script>
